<!DOCTYPE html>
<html>
<body>
  <%= react_component(
    'UserProfile',
    id: @user.id,
    name: @user.name,
    phonenumber: @user.phone_number,
    classyear: @user.class_year,
    address: @user.address
  ) %>
</body>
</html>
